@model BasvuruPortal.ViewModels.aracgirisViewModel
@{
    ViewBag.Title = "PersonelAracGirisBasvuru";
    Layout = "~/Views/Shared/_singlePage.cshtml";
}

@section css{

    <link href="~/Content/vendor/dropzone/dropzone.css" rel="stylesheet" />

}
<section class="inner-page">

    <div class="container" data-aos="fade-up">

        <div class="section-title">
            Lütfen aşağıdaki alanları eksiksiz doldurunuz
        </div>
        <p style="color:red"> (*) Alanlar, Zorunlu Alanlardır </p>
        @using (Html.BeginForm("PersonelAracGirisBasvuru", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.TextBoxFor(x => x.TCKimlikNo, new { @class = "form-control", @placeholder = "* TC Kimlik No" })
                    @Html.ValidationMessageFor(model => model.TCKimlikNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.TextBoxFor(x => x.SicilNo, new { @class = "form-control", @placeholder = "* Kurum Sicil No" })
                    @Html.ValidationMessageFor(model => model.SicilNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
               

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="bx-pull-right"> <button class="btn btn-primary" type="submit">Başvuru Yap</button></div>
                    </div>
               
            </div>
                }

            </div>

</section>
@section modal{
    @{Html.RenderPartial("../PartialView/ModalError");}

}
@section scripts{
    <script src="~/Content/vendor/dropzone/dropzone.js"></script>

    <script>
        $(document).ready(function () {
            $('#diger').hide();

            $('#drop').change(function () {
                var selectedValue = $('#drop').val();
                if (selectedValue == 6)
                    $('#diger').show();
                else
                    $('#diger').hide();
            });

              var r = '@TempData["hata"]';
           if (r.length>0)
           {
                $('#myModal').modal('show');
           }


        });

    </script>

}

