@model  IEnumerable< BasvuruPortal.ObisisVeritabani.OBP_KULLANICI>
@{
    ViewBag.Title = "Obpkullanici";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}


@section cssfile{
    @{ Html.RenderPartial("../PartialViews/DataTableCss");}

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Araç Başvuru Onay Bekleyenler</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr align="center">
                                    <th>Kullanıcı Kodu</th>
                                    <th>Email</th>
                                    <th>Şifre</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Aktif</th>                                   

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr align="center">
                                        <td width="5%" align="center">@item.KULLANICI_KODU</td>
                                        <td>@item.EMAIL</td>
                                        <td>@item.SIFRE</td>
                                        <td>@item.KAYIT_TARIHI</td>
                                        <td align="center">@item.AKTIF</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr align="center">
                                    <th>Kullanıcı Kodu</th>
                                    <th>Email</th>
                                    <th>Şifre</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Aktif</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <input type="hidden" id="hiddenID" />
    </div>
</section>

<!-- /.card -->
@section scripts{
    @{ Html.RenderPartial("../PartialViews/DataTableScript");}}


