@model IEnumerable<BasvuruPortal.Models.Kaysem.KaysemBasvuru>
@{
    ViewBag.Title = "Kaysembasvurular";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

@section cssfile{
    @{ Html.RenderPartial("../PartialViews/DataTableCss");}

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">KAYSEM Başvuru Formları</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr align="center">
                                    <th>Başvuru No</th>
                                    <th>Kurs Adı</th>
                                    <th>Başvuruyu Yapan</th>
                                    <th>Cep Telefonu</th>
                                    <th>Başvuru Tarihi</th>
                                    <th>İçeriği Gör</th>
                                    <th>Başvuru Durumu</th>
                                    <th>Sil</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr align="center">
                                    <td width="5%" align="center">@item.ID</td>
                                    <td>@item.Kurs.Kurs_Adi</td>
                                    <td>@item.BasvuruAdiSoyadi</td>
                                    <td>@item.CepTelefonu</td>
                                    <td align="center">@item.BasvuruTarihi</td>
                                    <td align="center"><a href="@Url.Action("Kaysembasvurudetay",new { id = item.ID })"><i style="color:green" class="fas fa-edit"></i></a></td>
                                    <td align="center">
                                        @if (item.Onay == true)
                                        {<i style="color:green" class="fas fa-eye"> İncelendi</i>}
                                        else
                                        {<i style="color:darkblue" class="fas fa-check"> Yeni Başvuru</i>}
                                    </td>
                                    <td><a href="@Url.Action("KaysembasvuruSil",new { id = item.ID })"><i style="color:red" class="fas fa-trash"></i></a></td>
                                </tr>
                            }
                            </tbody>
                            <tfoot>
                                <tr align="center">
                                    <th>Başvuru No</th>
                                    <th>Kurs Adı</th>
                                    <th>Başvuruyu Yapan</th>
                                    <th>Cep Telefonu</th>
                                    <th>Başvuru Tarihi</th>
                                    <th>İçeriği Gör</th>
                                    <th>Başvuru Durumu</th>
                                    <th>Sil</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <input type="hidden" id="hiddenID" />
    </div>
</section>

<!-- /.card -->
@section scripts{
    @{ Html.RenderPartial("../PartialViews/DataTableScript");}}
